// This file contains basic setup for Corona Native apps and plugins

CORONA_ROOT=$HOME/Library/Application Support/Corona/Native

FRAMEWORK_SEARCH_PATHS = $(inherited) "$CORONA_ROOT/Corona/tvos/frameworks/"

HEADER_SEARCH_PATHS = $(inherited) "$CORONA_ROOT/Corona/tvos/frameworks/CoronaCards.framework/PrivateHeaders"

BITCODE_GENERATION_MODE = bitcode
